<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193747742169-iv01f2h0qbrr8gftpntjblibo5g0rk8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193747742169-iv01f2h0qbrr8gftpntjblibo5g0rk8s</string>
	<key>API_KEY</key>
	<string>AIzaSyAxcKpC6yCmH01HqaaUYXV4YZR4cVBrtL0</string>
	<key>GCM_SENDER_ID</key>
	<string>193747742169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kevinkim.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-9ef6b</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-9ef6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193747742169:ios:1139b7e32b86d7b6f1fdc8</string>
</dict>
</plist>